body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7ebf0;
}
.step-title{
  text-align: center;
  padding: 8px;
  color: #fff;
  margin: 0;
}

.all{
  background-color: #2196f3;
}
.processing{
  background-color: #009688;
}
.created{
  background-color: #673ab7;
}
.finished,.done{
  background-color: #4caf50;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
